.categories_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    >*{
        cursor: pointer;
        border: 1px solid brown;
        width: 150px;
        height: 150px;
        text-align: center;
        border-radius: 20px;
        padding: 5px;
    }

    .tags_description{
        color: rgb(29, 165, 165);
        direction: ltr;
        overflow: hidden;
        width: 100%;
    }
}