.navbar_wrapper{
    // width: 100%;
    background-color: rgb(252, 103, 49);
    color: wheat;
    border: 1px solid black;
    
    .menu{
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 2%;

         > *{
            cursor: pointer;
            
        }
    }
    
}